ion-header {
    background-color: #f8f8f8; // Cambia el color de fondo si lo deseas
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; // Ajusta el padding según sea necesario
  
    h2 {
      font-size: 20px; // Ajusta el tamaño de la fuente del título
      margin-bottom: 20px; // Espaciado inferior
    }
  
    img {
      width: 200px; // Tamaño de la imagen
      height: auto; // Mantiene la proporción
      border-radius: 10px; // Bordes redondeados (opcional)
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra (opcional)
    }
  }
  ion-title {
    font-family: 'Allura', 'Dancing Script', sans-serif; /* Aplica la fuente personalizada */
    font-size: 2em; /* Ajusta el tamaño si es necesario */
    text-align: center;
    color: #0e273b;
  }