<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su Usuario"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input label="password" label-placement="floating" fill="outline" type="password" placeholder="Ingrese su Contrasenia">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button size="large">Ingresar</ion-button>
  </ion-item>
</ion-content>
