#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

ion-button {
  margin: 10px 0;
  width: 100%;  /* Ocupa todo el ancho del contenedor */
  max-width: 300px;  /* Limita el ancho para pantallas grandes */
}
